In [74]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings("ignore")

In [75]:
dados = pd.read_csv("/Users/duda/PythonDSA/Duda/6-Projeto5/Projeto/dados/dataset.csv")

In [76]:
dados.shape

(13, 4)

In [77]:
dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [78]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Modelo         13 non-null     object
 1   Kilometragem   13 non-null     int64
 2   Preco_Venda    13 non-null     int64
 3   Idade_Veiculo  13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 548.0+ bytes

In [79]:
df_dummies = pd.get_dummies(dados.Modelo, dtype=int)

In [80]:
df = pd.concat([dados, df_dummies], axis=1)

In [81]:
df

,Modelo,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,Jaguar F-Type R,69000,18000,6,1,0,0
1,Jaguar F-Type R,35000,34000,3,1,0,0
2,Jaguar F-Type R,57000,26100,5,1,0,0
3,Jaguar F-Type R,22500,40000,2,1,0,0
4,Jaguar F-Type R,46000,31500,4,1,0,0
5,Mustang Mach 1,59000,29400,5,0,0,1
6,Mustang Mach 1,52000,32000,5,0,0,1
7,Mustang Mach 1,72000,19300,6,0,0,1
8,Mustang Mach 1,91000,12000,8,0,0,1
9,Mercedez Benz AMG GLE 53,67000,22000,6,0,1,0
10,Mercedez Benz AMG GLE 53,83000,20000,7,0,1,0
11,Mercedez Benz AMG GLE 53,79000,21000,7,0,1,0
12,Mercedez Benz AMG GLE 53,59000,33000,5,0,1,0

In [82]:
newdf = df.drop(['Modelo'], axis= 1)

In [83]:
newdf

,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0
5,59000,29400,5,0,0,1
6,52000,32000,5,0,0,1
7,72000,19300,6,0,0,1
8,91000,12000,8,0,0,1
9,67000,22000,6,0,1,0
10,83000,20000,7,0,1,0
11,79000,21000,7,0,1,0
12,59000,33000,5,0,1,0

In [84]:
x = newdf.drop(["Preco_Venda"], axis=1)
x

,Kilometragem,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,6,1,0,0
1,35000,3,1,0,0
2,57000,5,1,0,0
3,22500,2,1,0,0
4,46000,4,1,0,0
5,59000,5,0,0,1
6,52000,5,0,0,1
7,72000,6,0,0,1
8,91000,8,0,0,1
9,67000,6,0,1,0
10,83000,7,0,1,0
11,79000,7,0,1,0
12,59000,5,0,1,0

In [85]:
y = newdf.Preco_Venda
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [86]:
modelV1 = linear_model.LinearRegression()

In [87]:
modelV1.fit(x,y)

LinearRegression()

In [88]:
modelV1.predict(x)

array([18705.2723644 , 35286.78445645, 24479.19112468, 41245.76426391,
       29882.98779056, 28023.6135243 , 30614.46818502, 21879.57266964,
       12182.34562104, 26183.72387884, 18929.31674102, 20409.80511857,
       30477.15426156])

In [89]:
modelV1.predict([[8000,6,0,0,1]])

array([45567.3867105])

In [90]:
modelV1.predict([[4000,2,0,0,1]])

array([52377.6895985])

In [91]:
modelV1.predict([[5000,3,0,1,0]])

array([53128.65461376])

In [92]:
modelV1.score(x,y)

0.9417050937281082

In [93]:
## Preparando para Machine Learning

In [94]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [95]:
OHEncoder = ColumnTransformer([('Modelo', OneHotEncoder(), [0])], remainder = 'passthrough')

In [96]:
df_car = dados

In [97]:
df_car

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [98]:
x = df_car.drop('Preco_Venda', axis=1)
x

                      Modelo  Kilometragem  Idade_Veiculo
0            Jaguar F-Type R         69000              6
1            Jaguar F-Type R         35000              3
2            Jaguar F-Type R         57000              5
3            Jaguar F-Type R         22500              2
4            Jaguar F-Type R         46000              4
5             Mustang Mach 1         59000              5
6             Mustang Mach 1         52000              5
7             Mustang Mach 1         72000              6
8             Mustang Mach 1         91000              8
9   Mercedez Benz AMG GLE 53         67000              6
10  Mercedez Benz AMG GLE 53         83000              7
11  Mercedez Benz AMG GLE 53         79000              7
12  Mercedez Benz AMG GLE 53         59000              5

In [99]:
y = df_car.Preco_Venda
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [100]:
X = OHEncoder.fit_transform(x)
X

array([[1.00e+00, 0.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.20e+04, 5.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 7.20e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.90e+04, 5.00e+00]])

In [101]:
modelV2 = linear_model.LinearRegression()

In [102]:
modelV2.fit(X,y)

LinearRegression()

In [103]:
modelV2.predict([[0,1,0,86000,7]])

array([17818.95045785])

In [104]:
modelV2.score(X,y)

0.9417050937281083

In [105]:
import joblib

In [106]:
joblib.dump(modelV2,'/Users/duda/PythonDSA/Duda/6-Projeto5/Projeto/modelo/modelo_treinado.pkl')

['/Users/duda/PythonDSA/Duda/6-Projeto5/Projeto/modelo/modelo_treinado.pkl']